.banner-image {
    background-image: url("minecraft1.png");
    background-size: cover;
    background-position: center;
    height: 80vh;
}
dialog {
    background-color: transparent;
    font-family: 'inter';
    font-size: 18px;
    color: white;
}
